@import url('https://fonts.googleapis.com/css?family=Mali');

body
{
    background-color: #ddd;
    font-family: 'Mali', cursive;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

.wrapper
{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    display: block;
}

.cat-preview
{
    width: 100%;
}

.cat-preview img
{
    width: 100%;
}

a
{
    text-decoration: none;
}

.cat-cell
{
    display: inline-block;
    width: 290px;
    vertical-align: top;
    background-color: white;
    text-align: left;
    margin: 5px auto;
}

.cat-description
{
    padding: 10px;
    color: gray;
}

.cat-name
{
    margin: 0;
    padding: 10px;
}

.description-field
{
    width: 30%;
}

.view-changer:checked ~ .cat-cell
{
    display: block;
    width: 400px;
    margin-bottom: 1em;
}

.view-changer:not(:checked) ~.cat-cell .cat-preview img
{
    height: 250px;
}

.view-changer:not(:checked) ~ article .cat-description .simple-description,
.view-changer:checked ~ article .cat-description .full-description
{
    display: block;
}

.view-changer:not(:checked) ~ article .cat-description .full-description,
.view-changer:checked ~ article .cat-description .simple-description
{
    display: none;
}
